<?xml version="1.0"?>
<config>
  <modules>
    <Netweb_Mezaj>
      <version>0.1.0</version>
    </Netweb_Mezaj>
  </modules>
  <frontend>
    <routers>
      <mezaj>
        <use>standard</use>
          <args>
            <module>Netweb_Mezaj</module>
            <frontName>mezaj</frontName>
          </args>
      </mezaj>
    </routers>
		<layout>
		  <updates>
			<mezaj>
			  <file>mezaj.xml</file>
			</mezaj>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <mezaj>
        <class>Netweb_Mezaj_Helper</class>
      </mezaj>
    </helpers>
	<blocks>
	  <mezaj>
		<class>Netweb_Mezaj_Block</class>
	  </mezaj>
	</blocks>
  </global>
</config> 